body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #050505, #0b5e20);
    color: white;
}

h1 {
    font-size: 45px;
    text-align: center;
    text-shadow: 0 0 15px #00ff66;
}

h2 {
    font-size: 28px;
}

#card {
    width: 300px;
    background: linear-gradient(160deg, #1aff80, #064d25);
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    color: black;
    box-shadow: 0 0 35px #00ff66;
    border: 4px solid white;
}

h3 {
    font-size: 28px;
    margin: 5px;
}

#countdown {
    background: rgba(0,0,0,0.2);
    color: white;
    padding: 15px;
    border-radius: 15px;
    font-size: 28px;
    font-weight: bold;
}

#card p {
    font-size: 22px;
    font-weight: bold;
}
