body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    color: white;
}

h1 {
    font-size: 50px;
}
